{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My page</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header class = "page-header">
    <p class = "page-header__logo">Developer</p>
    <nav class = "page-header__nav">
      <button>Меню</button>
      <a href="#page-examples">Работы</a>
      <a href="#page-service">Услуги</a>
      <a href="#page-question">Процесс</a>
      <a href="#page-developer">Обо мне</a>
      <a href="#page-request">Контакты</a>
    </nav>
    <!-- <div class = "icon icon__man">
      <img src = "icons/emoji__man.svg"></img>
    </div> -->
  </header>
  <section class="page-welcome" id="page-welcome">
    <div class="page-welcome__title">
      Сайты на Тильде, которые <br>
        убеждают и продают
    </div>
    <div class="page-welcome__subtitle">
      Изучаем ваш бизнес. Узнаем, что важно клиентам, <br>
        как вызвать доверие и довести до заявки или покупки
    </div>
    <div class="page-welcome__buttons-block">
      <button class="page-welcome__button black-button">
        <div>Связаться в Telegram</div>
      </button>
      <button class="page-welcome__button white-button">
        <div>&#9655; Видеопортфолио</div>
      </button>
    </div>
  </section>
  <section class="page-examples" id="page-examples">
    <div class="page-examples__filters">
      <button class="white-button">Все</button>
      <button class="white-button">Сайт под ключ</button>
      <button class="white-button">Разработка</button>
      <button class="white-button">Дизайн</button>
    </div>
    <div class="page-examples__photo" ><!--  комментарии, чтобы не добавлялся ПРОБЕЛ 
      https://css-live.ru/articles/zagadochnye-otstupy-mezhdu-inlajn-blokami.html
      --><img src="{% static 'img/SK-strizhi.png' %}" class="one-photo" id="sk-strizhi"><!--
      --><img src="{% static 'img/watchman.png' %}" class="two-photo" id="watchman"><!--
      --><img src="{% static 'img/ermitazh.png' %}" class="two-photo" id="ermitazh"><!--
      --><img src="{% static 'img/site-graphic.png' %}" class="one-photo" id="graphic"><!--
      --><img src="{% static 'img/we-are-statistic.png' %}" class="two-photo" id="statistic"><!--
      --><img src="{% static 'img/avito.png' %}" class="two-photo" id="avito"><!--
    --></div>
  </section>
  <section class="page-developer" id="page-developer">
    <div class="page-developer__photo">
      <img src="{% static 'img/Developer.png' %}">
    </div>
    <div class="page-developer__text">
      <p class ="page-developer__text-title">
        Designer & Developer
      </p>
      <p class ="page-developer__text-text">
        Меня зовут гигачад. За 3 года создания сайтов 
          я основал свою студию, собрал людей, готовых к плотной работе.
          <br>
          <br>
          Запустили лендинг и б2б продукт для UFC. Работали с ВШЭ и МИЭМом. 
          Запустили множество эвентовых проектов и брендинг. Готовы забирать 
          в команду лучших, прокачивать их компетенции, и взращивать русское 
          айти комьюнити,
      </p>
      <div class="page-developer__statistic">
        <div class="page-developer__statistic-first-line">
          <p>40+</p> 
          <p>100%</p> 
          <p>10+</p>
        </div>
        <div class="page-developer__statistic-second-line">
          <p>Сайтов запустили</p> 
          <p>Выполнено в срок</p> 
          <p>Лет опыта</p>
        </div>
      </div>
    </div>  
  </section>
  <section class="page-service" id="page-service">
    <p class = page-service__title>Услуги</p>
    {% for service in services %}
    <div class="page-service__block">
      <p class="page-service__block-num">{% if forloop.counter < 10 %}0{% endif %}{{forloop.counter}}</p>
      <p class="page-service__block-title">{{service.name}}</p>
      <p class="page-service__block-text">{{service.text}}</p>
      <div></div>
      <p class="page-service__block-price"> От {{service.price}} ₽</p>
    </div>
    {% endfor %}
  </section>
  <section class="page-price" id="page-price">
    <p class="page-price__title">Подсчет стоимости</p>
    <form class="page-price__form">
      <select class="page-price__type-work" id="page-price__type-work">
        <option value="empty" selected>Тип работы</option>
        <option value="job-1">Первый вариант</option>
        <option value="job-2">Второй вариант</option>
        <option value="job-3">Третий вариант</option>
      </select>
      <select class="page-price__workload" disabled="true" id="page-price__workload">
        <option value="empty">Насколько большой проект</option>
        <option value="job-1">Небольшой</option>
        <option value="job-2">Большой</option>
        <option value="job-3">Плачу наличкой 10k$</option>
      </select>
      <div class="page-price__check">
        <input type="checkbox" name="ege">
        <p>Да, я слышал про осеннюю школу.
          Интересно а после нее будет егэ?</p>
      </div>
      <input class="page-price__submit white-button" type="button" value="Рассчитать стоимость" id="price-calculate">
    </form>
    <form class="page-price__discussion" id="page-price__discussion">
      <p class="page-price__discussion-title">
        Примерный подсчет:
      </p>
      <p class="page-price__discussion-subtitle">
        Стоимость
      </p>
      <p class="page-price__discussion-text">
        От 120 000 ₽
      </p>
      <p class="page-price__discussion-subtitle">
        Примерные сроки
      </p>
      <p class="page-price__discussion-text">
        14 рабочих дней
      </p>
      <input class="page-price__button-discussion black-button" type="button" value="Обсудить проект" id="price-discuss">
      
    </form>
  </section>
  <section class="page-question" id="page-question">
    <p class="page-question__title">Вопрос-ответ</p>
    <div class="page-question__block">
      <p class="question">Делаете только дизайн?<img src="{% static 'icons/X.png' %}"></p>
      <p class="answer" id="answer-1">Пупсик, доллар в кошельке и я сделаю все что угодно</p>
    </div>
    <div class="page-question__block">
      <p class="question">Почему тильда<img src="{% static 'icons/X.png' %}"></p>
      <div class="answer" id="answer-2">
        Тильда уже давно перестала быть просто конструктором. Сейчас на 
        платформе разрабатывают уникальные лендинги и даже небольшие интернет магазины.
        <br><br>
        А еще:
        <ul>
          <li>Не нужен программист, тильдой легко управлять</li>
          <li>Можно менять контент самому без помощи специалиста</li>
          <li>Многие делают сайты именно на тильде. Например сбер, яндекс, и тд</li>
          <li>Можно подключить разные сервисы, формы (телеграм, мейлчамп, crm)</li>
          <li>Адекватные цены тарифов</li>
        </ul>
      </div>
    </div>
    <div class="page-question__block">
      <p class="question">Какие сроки?<img src="{% static 'icons/X.png' %}"></p>
      <p class="answer" id="answer-3">Быстро Дешево Качественно - выбери два из этого</p>
    </div>
    <div class="page-question__block">
      <p class="question">Как происходит оплата?<img src="{% static 'icons/X.png' %}"></p>
      <p class="answer" id="answer-4">Только наличкой, объяснять не буду почему, и так понятно</p>
    </div>
    <div class="page-question__block">
      <p class="question">Сколько правок можно внести?<img src="{% static 'icons/X.png' %}"></p>
      <p class="answer" id="answer-5">Любой каприз за ваши деньги</p>
    </div>
    <div class="page-question__block">
      <p class="question">Работаете со срочными проектами?<img src="{% static 'icons/X.png' %}"></p>
      <p class="answer" id="answer-6">Конечно, ведь вам это выйдет намного дороже)</p>
    </div>
  </section>
  <section class="page-request" id="page-request">
    <p class="page-request__title">
      Оставьте заявку
    </p>
    <p class="page-request__subtitle">
      Я сам напишу вам, и сообщу все детали
    </p>
    
    <form class="page-request__form" method="POST" action="">
      {% csrf_token %} 
      <input type="text" class="page-request__name" value="Имя" name="name">
      <input type="email" class="page-request__email" value="Почта" name="email">
      <select class="page-request__work" name="type-work">
        <option value="empty" selected>Услуга</option>
        <option value="job-1">Первый вариант</option>
        <option value="job-2">Второй вариант</option>
        <option value="job-3">Третий вариант</option>
      <input type="text" class="page-request__comm" value="Комментарий" name="message">
      <input type="submit" class="page-request__submit black-button" value="Отправить сообщение">
      </select>
    </form>
    
  </section>
  
  <!-- <div class="icon icon__moln">
    <img  src = "icons/moln.svg"></img>
  </div>
  <div class="icon icon__chat">
    <img  src = "icons/chat.svg"></img>
  </div>
  <div class = "icon icon__man-2">
    <img src = "icons/emoji__man.svg"></img>
  </div>
  <div class = "icon icon__facebook">
    <img src = "icons/Facebook.svg"></img>
  </div>
  <div class = "icon icon__twitter">
    <img src = "icons/twitter.svg"></img>
  </div>
  <div class = "icon icon__VK">
    <img src = "icons/VK.svg"></img>
  </div> -->
  <script src="{% static 'js/test.js' %}"></script>
</body>
</html>